/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

html,
body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

body {
  font-family: "Segoe UI", sans-serif, Tahoma, Geneva, Verdana;
}

// p-orderlist overrides
.p-orderlist-list-container {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

// p-card overrides
.p-card {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);

  p {
    margin: 0;
  }
}

.p-card .p-card-content {
  padding: 0;
}

.p-card .p-card-title {
  font-size: 2rem;
  text-align: center;
}

// host-component styles here
.host-component {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

// p-carousel overrides for better mobile experience
.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content .p-carousel-next {
  width: min-content;
}