/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

html,
body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

body {
  font-family: "Segoe UI", sans-serif, Tahoma, Geneva, Verdana;
}

button {
  color: rgb(255, 255, 255) !important;
}

.p-orderlist-list-container {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15) !important;
}
